services:
  postgres:
    image: 'postgres:16-alpine'
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
    env_file:
      - ./.env
    networks:
      - banking
    ports:
      - '${POSTGRES_PORT}:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  rabbitmq:
    image: 'rabbitmq:4.2.0-management-alpine'
    env_file:
      - ./.env
    networks:
      - banking
    ports:
      - '${RABBITMQ_PORT}:5672'
      - '${RABBITMQ_MGMT_PORT}:15672'
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - ./.env
    ports:
      - '8080:8080'
    networks:
      - banking
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy

networks:
  banking:
    driver: bridge

volumes:
  postgres_data:
